.metaboxes {
    overflow: hidden;
    padding: 2em 0; 
}

.cc-metaboxes_column {
    .column-header {
        padding: 0 1em;
        display: block;
    }

    h2 {
        display: inline-block;
        margin-right: 16px;
    }
}

.add_metabox-btn {
    position: absolute;
    top: 1em;
    right: 1em;
}

.metabox_column {
    width: 58%;
    float: left;
    position: relative;
    background: #fafafa;
    min-height: 64px;
    border: 1px solid rgba(0,0,0,0.1);

    .metaboxes_box {
        padding: 1em;

        .metabox {

            .field{
                padding: 0;

                .dropped-body {
                    padding: 1em;

                    label {
                        width: 50%;
                        padding: 0 1em;
                    }
                }
            }

            .metabox_settings {
                display: flex;
                flex-flow: row wrap;

                label {
                    flex: 0 0 50%;
                    // width: 49%;
                    // display: inline-block;
                    margin-bottom: 1em;

                    span {
                        display: inline-block;
                        width: 120px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .fields {
                padding: 1em;
            }
        }
    }
}

.fields_column {
    width: 38%;
    float: right;
    min-height: 64px;
    background: #fafafa;
    border: 1px solid rgba(0,0,0,0.1);

    .fields_box {
        padding:1em;
    }
}

.fields_column .field,
.fields .field 
{
    background: white;
    padding: .8em 1em;
    border: 1px solid rgba(0,0,0,0.2);
    // margin: 0 1em;
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}